// Colors
$bg: #151514;
$gray: #3c3d3c;
    $gray-2: #292928;
        $gray-3: #505050;
$blue: #309695;
$blue-secondary: #1f6362;
$orange: #f26430;
$red: #da4a4a;
    $red-2: #ad3636;
$green: #2a8b49;
    $green-2: #23693a;
$text: #dddddc;

@font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(/static/fonts/Raleway-Regular.ttf);
}

:global(*) {
    margin: 0;
    padding: 0;
    color: $text;
    font-family: Raleway;
    transition-duration: 200ms;
}

:global(body) {
    background-color: $bg;
}

a {
    color: $orange;
}

code {
    color: $blue;
    font-family: monospace;
    background-color: $gray;
    padding: .25rem;
    border-radius: 5px;
    font-size: .9em;
}

p {
    white-space:pre-wrap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    * {
        margin: .5rem 0 .5rem 0;
    }
}
input[type=text] {
    padding: .6rem;
    margin: 0;
    border: 1px solid $text;
    border-radius: 5px;
    background: none;
}
input[type=submit], button {
    width: 5rem;
    background: $blue;
    margin: .25rem 0 .25rem 0;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    font-size:medium;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button {
    width: unset;
}
input[type=submit]:hover, button:hover {
    cursor: pointer;
    background: $blue-secondary;
}
input:disabled:hover {
    background: $blue;
    cursor: default;
}
input:disabled {
    opacity: .6;
}

// Scrollbar atyles

:root::-webkit-scrollbar {
    width: 10px;
}

:root::-webkit-scrollbar-track {
    background-color: $gray-2;
}

:root::-webkit-scrollbar-thumb {
    background: $gray;
    
}

:root::-webkit-scrollbar-thumb:hover {
    background: $gray-3;
}


// Media Query Mixins

//Extra Large Screen - 1171 to 1440 screen size
@mixin xl-screen{
    @media only screen and (max-width: 1440px) {
        @content;
    }
}

//Large Screen - 993 to 1170 screen size
@mixin lg-screen{
    @media only screen and (max-width: 1170px) {
        @content;
    }
}

//Medium Screen - 768 to 992 screen size
@mixin md-screen{
    @media only screen and (max-width: 992px) {
        @content;
    }
}

//Small Screen - 575 to 767 screen size
@mixin sm-screen{
    @media only screen and (max-width: 767px) {
        @content;
    }
}

//Extra Small Screen - below 575 screen size
@mixin xs-screen{
    @media only screen and (max-width: 575px) {
        @content;
    }
}

@mixin descending-width{
    @include lg-screen {
        width: 70vw;
    }
    @include md-screen {
        width: 80vw;
    }
    @include sm-screen {
        width: 85vw;
    }
    @include xs-screen {
        width: 90vw;
    }
}

@mixin descending-maximum{
    @include lg-screen {
        max-width: 70vw;
    }
    @include md-screen {
        max-width: 80vw;
    }
    @include sm-screen {
        max-width: 85vw;
    }
    @include xs-screen {
        max-width: 90vw;
    }
}